<form id="sign_in" role="form" method="POST" th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <!--//TODO: _csrf field -->
    <div class="msg">Sign in to start your session</div>
    <div class="msg error" th:if="${error} != null" th:text="${error}"></div>
    <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
        </div>
        <label id="username-error" class="error" for="email"></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">lock</i>
        </span>
        <div class="form-line ">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
        </div>
        <label id="password-error" class="error" for="password"> </label>
    </div>
    <div class="row">
        <div class="col-xs-8 p-t-5">
            <input type="checkbox" name="rememberMe" id="rememberMe"   />
            <label for="rememberMe">Remember Me</label>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
        </div>
    </div>
    <div class="row m-t-15 m-b--20">
        <div class="col-xs-6">
            <a th:href="@{/app/register}">Register Now!</a>
        </div>
        <div class="col-xs-6 align-right">
            <a th:href="@{/app/reset}">Forgot Your Password?</a>
        </div>
    </div>
</form>

<form id="sign_up" role="form" method="POST" th:fragment="register" xmlns:th="http://www.thymeleaf.org" th:object="${registrationModel}">
    <!--//TODO: _csrf field -->
    <div class="msg">Register</div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line" th:classappend="${#fields.hasErrors('username')} ? 'error'">
            <input type="text" class="form-control" name="name" id="username" placeholder="Username" th:field="*{username}"/>
        </div>
        <label id="name-error" class="error" for="username" th:each="error : ${#fields.errors('username')}" th:text="${error}"></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">email</i>
        </span>
        <div class="form-line" th:classappend="${#fields.hasErrors('email')} ? 'error'">
            <input type="text" class="form-control" name="email" id="email" value="" placeholder="Email Address" th:field="*{email}" />
        </div>
        <label id="email-error" class="error" for="email" th:each="error : ${#fields.errors('email')}" th:text="${error}"></label>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
        <i class="material-icons">lock</i>
        </span>
        <div class="form-line" th:classappend="${#fields.hasErrors('password')} ? 'error'">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" th:field="*{password}"/>
        </div>
        <label id="password-error" class="error" for="password" th:each="error : ${#fields.errors('password')}" th:text="${error}"></label>
    </div>
    <div class="input-group" th:classappend="${#fields.hasErrors('global')} ? 'error'">
        <span class="input-group-addon">
        <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password" th:field="*{confirmPassword}" />
        </div>
        <label id="confirm-password-error" class="error" for="password_confirmation" th:each="error : ${#fields.errors('global')}" th:text="${error}"></label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink" th:required="required" />
        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a></label>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Register</button>
        </div>
    </div>
    <div class="m-t-25 m-b--5 align-center">
        <a th:href="@{/app/login}">You already have a membership?</a>
    </div>
</form>